<h1>Listing serials</h1>

<table>
  <tr>
  <% for column in Serial.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for serial in @serials %>
  <tr class="<%= cycle('odd', 'even') %>">
  
    <td><%=h serial.name %></td>
   <td><% unless serial.description.blank? %><%= truncate_words(serial.description) %><% end %></td>

    <td><%= link_to 'Show', :action => 'show', :id => serial %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => serial %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => serial }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @serials %>

<%= link_to 'New serial', :action => 'new' %>
