%h1 Serial titles
%table
  %thead
    %tr
      %th Name
      %th Description
      %th &nbsp;
    
  - for serial in @serials
    %tr{:class => cycle('odd', 'even')}
      %td= h serial.name
      %td
        - unless serial.description.blank?
          = raw truncate_words(serial.description)
      %td= link_to 'Show', :action => 'show', :id => serial, class: [:button]

= paginate @serials
= link_to 'New serial', :action => 'new'
