.row.expanded
  .small-6.columns.text-left
    - if items.blank?
      No results.
    - else
      All
      = items.first.class.to_s.pluralize
    %span.small_link= link_to '(options)', "javascript:$('.filters').slideToggle();"
  .small-6.columns.text-right= paginate items, :remote => true
.filters{:style => ( (params[:by_special].blank? && params[:by_serial].blank? && params[:by_label].blank? && params[:by_creator].blank? && params[:by_publisher].blank?) ?   "display: none" : "")}
  .row.expanded
    .small-4.columns.text-right
      Category:
    .small-8.columns
      = collection_select :item, :by_special, @specials, :id, :name, {:include_blank => true, :selected => params[:by_special]}, { :onchange => "document.location.href=document.location.href.substr(0,document.location.href.indexOf('?')) + '?by_special=' + $(this).val() + '&by_serial=#{params[:by_serial]}&by_publisher=#{params[:by_publisher]}'"}

  - if items.first.class == Comic
    .row.expanded
      .small-4.columns.text-right Series:
      .small-8.columns= collection_select :item, :by_serial, @serials, :id, :display_title,{:include_blank => true, :selected => params[:by_serial]}, {:onchange => "document.location.href=document.location.href.substr(0,document.location.href.indexOf('?')) + '?by_serial=' + $(this).val() + '&by_special=#{params[:by_special]}&by_publisher=#{params[:by_publisher]}'"}
  
  - if controller.controller_name != "cds"
    .row.expanded
      .small-4.columns.text-right Publisher
      .small-8.columns= collection_select :item, :by_publisher, @publishers, :id, :display_title, { :include_blank => true, :selected => params[:by_publisher] }, {:onchange => raw("document.location.href=document.location.href.substr(0,document.location.href.indexOf('?')) + '?by_publisher=' + $(this).val() + '&by_special=#{params[:by_special]}&by_serial=#{params[:by_serial]}'") }
  
  - else
    .row.expanded
      .small-4.columns.text-right Label
      .small-8.columns= collection_select :item, :label_filter, Label.all, :id, :display_title,  { :include_blank => true, :selected => params[:by_label] }, {:onchange => raw("document.location.href=document.location.href.substr(0,document.location.href.indexOf('?')) + '?by_label=' + $(this).val() + '&by_special=#{params[:by_special]}'") }
  .row.expanded
    .small-4.columns.text-right
      = (controller.controller_name == 'dvds' ? 'Director' : 'Creator')
      name
    .small-8.columns
      = form_tag('/' + controller.controller_name, :id => 'creator_mask', :method => :get) do 
        - if controller.controller_name == 'dvds'
          = autocomplete_field_tag 'by_director', params[:by_director], autocomplete_director_firstname_admin_dvds_path, :size => 75
        - else
          = autocomplete_field_tag 'by_creator', params[:by_creator], autocomplete_creator_firstname_admin_comics_path, :size => 75

= content_for :jquery do
  :plain
    $("form#creator_mask").submit(function() {
      $("form#creator_mask").append($("<input>", attr("type", "hidden").value($("#item_by_publisher").val())));
    });