.row.expanded
  .small-12.columns
    .sidebar_title Search Copacetic
    .sidebar_search
      = form_tag searches_path, method: :post do
        = text_field_tag("query", params[:query], :autocomplete => "off", :size => 15 )
        = submit_tag "search!"

    - if controller.action_name == 'frontpage'
      .sidebar_title.clear_top Visit us!
      = raw Article.friendly.find('about-us').blurb
.row.expanded.just_in
  .small-12.columns
    .sidebar_title.clear_top Just in:
    .sidebar-orbit{role: :sidebar, :'aria-label' => 'Just in!', :'data-orbit' => ''}
      %ul.orbit-container
        - Justin.published.order('day desc').first.items.sort{rand}[0..9].in_groups_of(2).each do |group|
          %li.orbit-slide
            %ul.small-up-1.medium-up-2
              - group.each_with_index do |item, index|
                - next if item.nil?
                - cache ['justin_sidebar', item] do
                  %li.justin_slide.column{class: index == 1 ? 'show-for-large' : false }
                    .scroll_image= image_tag item.image_url(:index)
                    .scroll_metadata
                      .scroll_title= link_to item.title, item
                      .scroll_author= raw item.authorship_short
                      .scroll_price= number_to_currency(item.price)
  .small-12.columns
    %strong= link_to 'See all recent arrivals...', '/just_in'

.row.expanded
  .small-12.columns
    .sidebar_title.clear_top= link_to 'Copacetica', '/copacetica'
    Edifiying essays about all things Copacetic

    .paypal= image_tag image_path('paypal.gif')
    .paypal
      %strong= link_to 'Follow us on Instagram', 'https://www.instagram.com/copaceticcomics/'

-# %iframe{:class => :btn, :frameborder => 0, :border => 0, :scrolling => :no, :allowtransparency => true, :height => 25, :width => 157, style: 'margin-left: 1rem', :src =>  "https://platform.tumblr.com/v1/follow_button.html?button_type=1&tumblelog=copcomco&color_scheme=light"}

-# .fb-like-box{"data-href" => "https://www.facebook.com/pages/The-Copacetic-Comics-Company/132379686783143",  "data-width" => "230", "data-show-faces" => "true", "data-stream" => "false",  "data-header" => "false", style: 'margin-left: 1rem'}

.row.expanded
  .small-12.columns
    .sidebar_title.smaller Visit our building mates at 3138 Dobson:
    %ul
    %li= link_to 'Kaibur Coffee', 'https://www.kaiburcoffee.com/'
    %li= link_to 'Cruel Noise Records', 'https://www.facebook.com/CruelNoiseRecords/'

