- cache @frontitems do
  .row.expanded
    .small-12.medium-12.columns.blue_green_box.smaller.text-center

      = link_to 'IMAGE + TEXT', comics_path
      = raw "&sdot;"
      = link_to "SOUND", cds_path
      = raw " + "
      = link_to "VISION", dvds_path
      = raw " &sdot;"
      = link_to " ART + LITERATURE", special_path('copacetic-select')

  .row.expanded
    - @frontitems.each do |frontitem|
      - cache frontitem do
        .front_grid.small-4.medium-3.large-2.columns
          = link_to(image_tag(frontitem.item.image_url(:frontgrid)), frontitem.item)


  .row.expanded
    .small-12.medium-12.columns.blue_green_box.smaller.text-center
      = link_to 'art', special_path('copacetic-select')
      = raw "&sdot;"
      = link_to 'books', books_path
      = raw "&sdot;"
      = link_to 'comics', comics_path

      = raw "&sdot;"
      = link_to 'dvds', dvds_path
      = raw "&mdash;"
      = link_to 'cds', cds_path
      = raw "&sdot;"  
      = link_to 'etc', special_path('copacetic-select')


.row.expanded.front_content
  .small-6.columns
    .sidebar_title Copacetic recommends....
    .orbit{role: :region, :'aria-label' => 'recommends', :'data-orbit' => ''}
      %ul.orbit-container
    
        - @selects.each do |select|
          %li.orbit-slide
            .select_item
              .select_image= image_tag select.image.url(:index)
              .select_metadata
                .select_title= link_to select.display_title, select
                .select_author= raw select.authorship
                - unless select.issuer_credit.blank?
                  .select_issuer= select.issuer_credit
                .select_description= raw truncate_html(sanitize(get_description(select, :tiny), tags: %w{bold b strong i em underline u a p br}, attributes: %w{href}), :length => 650)
                = link_to 'More on this item...', select
      %nav.orbit-bullets
        - @selects.each_with_index do |select, index|
          %button{:'data-slide' => index}
          
            
  .small-6.columns
    .sidebar_title Latest news
    .item_title= link_to @post.title, @post
    .item_description= raw @post.body
    %p
      %strong= link_to "All news....", posts_path
      
= content_for :jquery do
  :plain

