= semantic_form_for([:admin, @post], :html => {:multipart => true}) do |f|
  = f.input :admin_user, collection: AdminUser.all.map{|x| [x[:email], x.id] }, include_blank: false, label: 'Posted by:'
  = f.input :title
  = f.cktext_area :body
  = f.input :published
  = f.actions do 
    = f.submit "Save"