.row.expanded 
  .small-12.columns
    %h1 
      Search results for
      = "'#{params[:query]}':"
  
- if @hits.empty?
  .row.expanded
    .small-12.columns
      No results found. Please try another search term.
- else
  .row.expanded
    .small-12.columns
      - @hits.each do |hit|
        
      %td= h search.term
      %td= h search.count
      %td= h search.hits
      %td= link_to "Show", search
      %td= link_to "Edit", edit_search_path(search)
      %td= link_to "Destroy", search, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Search", new_search_path
