.row.expanded
  .small-12.columns
    .blogtitle= @post.title
    .blogmeta
      Posted by #{h @post.admin_user.username} on #{h @post.created_at.strftime("%d %B %H:%m")} (#{time_ago_in_words @post.created_at} ago)
.row.expanded
  .small-12.columns
    .blogbody
      = raw @post.body
    
      - if is_admin?
        = link_to 'Edit this post', edit_post_path(@post), class: [:button, :tiny]

      Posted by #{h @post.admin_user.username} on #{h @post.created_at.strftime("%d %B %H:%m")} (#{time_ago_in_words @post.created_at} ago)
.row.expanded
  .small-12.columns
  - if is_admin?
    = link_to 'New post', new_post_path, class: [:button, :tiny]
